<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mostrar</title>
        <link rel="stylesheet" href="stylemostrarUsuarioUnico.css">
    </head>
    <body>
        <h1 class="titulo">Mostrar Usuarios</h1>
       
        <div class="container">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Id</th>
                        <th>N. Usuario</th>
                        <th>N. Telefono</th>
                        <th>N. Cedula</th>
                        <th>Correo Electrico</th>
                        <th>N. Mascota</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                {{#usuario}}
                    <tr>
                        <td></td>
                        
                        <td><b>{{_id}}</b></td>
                        <td><b>{{Nombre}}</b></td>
                        <td><b>{{telefono}}</b></td>
                        <td><b>{{Cedula}}</b></td>
                        <td><b>{{CorreoElectronico}}</b></td>
                        
                        
                        <!--{{#mascota}}
                        <td><b>{{Nombre}}</b></td>
                        <td><b>{{Tipo}}</b></td>
                        {{/mascota}}-->
                    </tr>
                    {{/usuario}}
                </tbody>
            </table>
        </div>
        <script type="text/javascript" src="./mostrarlorealecodigo.js"></script>
    </body>
</html>