<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mostrar</title>
        <link rel="stylesheet" href="./stylemostrarUsuarioUnico.css">
    </head>
    <body>
        <h1 class="titulo">Mostrar Usuarios</h1>
       
        <div class="container">
            <table class="content-table">
                <thead>
                    <tr>
                        
                        <th>Id</th>
                        <th>N. Usuario</th>
                        <th>N. Telefono</th>
                        <th>N. Cedula</th>
                        <th>Correo Electrico</th>
                        <th>N. Mascota</th>
                        <th>tamaño</th>
                        <th>Tipo</th>
                        <th>Peso</th>
                        <th>Raza</th>
                    </tr>
                </thead>
                <tbody>
                {{#usuario}}
                    <tr>

                        <td data-label="Id:"><b>{{_id}}</b></td>
                        <td data-label="Usuario:"><b>{{Propietario.Nombre}}</b></td>
                        <td data-label="Telefono:"><b>{{Propietario.telefono}}</b></td>
                        <td data-label="Cédula:"><b>{{Propietario.Cedula}}</b></td>
                        <td data-label="Correo:"><b>{{Propietario.CorreoElectronico}}</b></td>
                        <td data-label="Nombre:"><b>{{Nombre}}</b></td>
                        <td data-label="Tamaño:"><b>{{tamano}}</b></td>
                        <td data-label="Tipo:"><b>{{Tipo}}</b></td>
                        <td data-label="Peso:"><b>{{Peso}}</b></td>
                        <td data-label="Raza:"><b>{{Raza}}</b></td> 
                        
                    </tr>
                    {{/usuario}}


                </tbody>
            </table>

            <table class="content-table">
                <thead>
                    <tr>
                        
                        
                      
                        <th>tamaño</th>
                        <th>Tipo</th>
                        <th>Peso</th>
                        <th>Raza</th>
                    </tr>
                </thead>
                <tbody>
                {{#usuario}}
                    <tr>

                        
                        <td data-label="Tamaño:"><b>{{tamano}}</b></td>
                        <td data-label="Tipo:"><b>{{Tipo}}</b></td>
                        <td data-label="Peso:"><b>{{Peso}}</b></td>
                        <td data-label="Raza:"><b>{{Raza}}</b></td> 
                        
                    </tr>
                    {{/usuario}}

                    
                </tbody>
            </table>
        </div>
    </body>
</html>