<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mostrar</title>
        <link rel="stylesheet" href="stylemostrarVeterinaria.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="titulo">Mostrar Usuarios</h1>
        <div class="container">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>N. Usuario</th>
                        <th>N. Mascota</th>
                        <th>Tipo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#usuario}}
                        <td data-label="Id"><b>{{_id}}</b></td>
                        <td data-label="N. Usuario"><b>{{Nombre}}</b></td>
                        {{/usuario}}
                        {{#mascota}}
                        <td data-label="N. Mascota"><b>{{Nombre}}</b></td>
                        <td data-label="Tipo"><b>{{Tipo}}</b></td>
                        <td>
                            <b>
                                <a href="/interfaz_veterinario/editar/index.html" target="iframe_crud">
                                    <button class="btns"><span> Editar</span></button>
                                </a>
                            </b>
                        </td>
                        <td>
                            <b>
                                <a href="/interfaz_veterinario/eliminar/index.html" target="iframe_crud">
                                    <button class="btns"><span> Eliminar</span></button>
                                </a>
                            </b>
                        </td>
                        {{/mascota}}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>