* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.content-search {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.content-search input {
    font-family: 'Quicksand', sans-serif;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    width: 325px;
    display: block;
    margin-right: 20px;
}

.content-search .btn {
    font-family: 'Quicksand', sans-serif;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    width: 100px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: hsl(0, 0%, 0%, 0.3);
}

.container {
    margin: 20px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr {
    background-color: #ffffff;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #009879;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* btns */

.btns {
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btns:hover {
    background-color: hsl(0, 0%, 0%, 0.3);
}

td a {
    text-decoration: none;
    display: flex;
    justify-content: right;
}

.content-table tbody tr:nth-of-type(even) .btns {
    background: hsl(0, 0%, 0%, 0.09);
    transition: background-color 0.5s ease;
}

.content-table tbody tr:nth-of-type(even) .btns:hover {
    background-color: hsl(0, 0%, 0%, 0.3);
}

/* Medias */

@media (min-width: 339px) and (max-width: 844px) {
    .content-table tbody tr:nth-of-type(even) {
        background-color: #ffffff;
    }

    .content-table thead {
        display: none;
    }

    .content-table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }

    .content-table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }

    .content-table td:last-child {
        border-bottom: 0px;
    }

    .content-table td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
    }
}

@media (min-width: 339px) and (max-width: 359px) {
    .titulo {
        font-size: 28px;
    }

    .container .content-table {
        min-width: 235px;
    }
}

@media (min-width: 360px) and (max-width: 374px) {
    .titulo {
        font-size: 30px;
    }

    .container .content-table {
        min-width: 245px;
    }
}

@media screen and (max-width: 375px) {
    .content-table {
        min-width: 260px;
    }
}

@media (min-width: 376px) and (max-width: 400px) {
    .content-table {
        min-width: 270px;
    }
}

@media (min-width: 401px) and (max-width: 420px) {
    .content-table {
        min-width: 290px;
    }
}

@media (min-width: 421px) and (max-width: 450px) {
    .content-table {
        min-width: 310px;
    }
}

@media (min-width: 451px) and (max-width: 500px) {
    .content-table {
        min-width: 340px;
    }
}

@media (min-width: 501px) and (max-width: 520px) {
    .content-table {
        min-width: 260px;
    }
}

@media (min-width: 521px) and (max-width: 539px) {
    .content-table {
        min-width: 280px;
    }
}

@media (min-width: 540px) and (max-width: 550px) {
    .content-table {
        min-width: 300px;
    }
}

@media (min-width: 551px) and (max-width: 570px) {
    .content-table {
        min-width: 310px;
    }
}

@media (min-width: 571px) and (max-width: 595px) {
    .content-table {
        min-width: 340px;
    }
}

@media (min-width: 596px) and (max-width: 615px) {
    .content-table {
        min-width: 360px;
    }
}

@media (min-width: 616px) and (max-width: 639px) {
    .content-table {
        min-width: 380px;
    }
}

@media (min-width: 636px) and (max-width: 655px) {
    .content-table {
        min-width: 400px;
    }
}

@media (min-width: 656px) and (max-width: 675px) {
    .content-table {
        min-width: 420px;
    }
}

@media (min-width: 676px) and (max-width: 695px) {
    .content-table {
        min-width: 440px;
    }
}

@media (min-width: 696px) and (max-width: 715px) {
    .content-table {
        min-width: 460px;
    }
}

@media (min-width: 716px) and (max-width: 735px) {
    .content-table {
        min-width: 480px;
    }
}

@media (min-width: 736px) and (max-width: 755px) {
    .content-table {
        min-width: 500px;
    }
}

@media (min-width: 756px) and (max-width: 775px) {
    .content-table {
        min-width: 520px;
    }
}

@media (min-width: 776px) and (max-width: 795px) {
    .content-table {
        min-width: 540px;
    }
}

@media (min-width: 796px) and (max-width: 815px) {
    .content-table {
        min-width: 560px;
    }
}

@media (min-width: 816px) and (max-width: 830px) {
    .content-table {
        min-width: 580px;
    }
}

@media (min-width: 831px) and (max-width: 844px) {
    .content-table {
        min-width: 600px;
    }
}