<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GeoAminal</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Header -->
        <header>
            <nav>
                <a href="#" id="icono" class="icono btns-menu"><i class="fa-solid fa-bars"></i></a>
                <div class="enlaces uno" id="enlaces">
                    <a class="btns" href="index.html">Inicio</a>
                    <a class="btns" href="/signInVeterinarian">¿Eres un afiliado?</a>
                    <a class="btns" href="/signInUser">Iniciar Sesión</a>
                </div>
            </nav>
            <div class="container">
                <div class="textos">
                    <h1>GeoAminal</h1>
                    <h2>¡Encuentralos siempre!</h2>
                    <a class="btns" href="#contacto">Contacta con nosotros</a>
                </div>
                <img src="/img/logo.png" alt="">
            </div>
        </header>
        <div class="wave">
            <div style="height: 150px; overflow: hidden;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
                </svg>
            </div>
        </div>
        <!-- Quienes Somos -->
        <section class="wave-contenedor website">
            <div class="contenedor-textos-main">
                <h2 class="titulo left">¿Quienes Somos?</h2>
                <p class="parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit error iure id, in omnis labore harum quas quam, consequatur dolores laboriosam dolorem enim ratione optio corrupti cupiditate laborum voluptatem rerum.</p>
                <a href="" class="cta">Learn more</a>
            </div>            
        </section>
        <!-- Info -->
        <section class="info">
            <div class="contenedor">
                <h2 class="titulo left">Juntos podemos apoyar</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </section>
        <!-- Servicios -->
        <section class="cards contenedor">
            <h2 class="titulo">Our services</h2>
            <div class="content-cards">
                <article class="card">
                    <i class="far fa-clone"></i>
                    <h3>Title Card</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="" class="cta">Learn more</a>
                </article>
                <article class="card">
                    <i class="fas fa-database"></i>
                    <h3>Title Card</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a href="" class="cta">Learn more</a>
                </article>
            </div>
        </section>
        <!-- Galeria -->
        <section class="galeria">
            <div class="contenedor">
                <h2 class="titulo">Our work</h2>
                <article class="galeria-cont">
                     <img src="img/uno.jpg" alt="">
                     <img src="img/dos.jpg" alt="">
                     <img src="img/tres.jpg" alt="">
                </article>
            </div>
        </section>
        <!-- Ultima info -->
        <section class="info-last">
            <div class="contenedor last-section">
                <div class="contenedor-textos-main">
                    <h2 class="titulo left">Title of section</h2>
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus aliquid sed suscipit facere, optio facilis molestias repudiandae soluta ratione expedita?</p>
                    <a href="" class="cta">Learn more</a>
                </div>
            </div>
            <div class="svg-wave" style="height: 150px; overflow: hidden;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fff;"></path>
                </svg>
            </div>
        </section>
        <!-- Footer -->
        <footer id="contacto">
            <div class="contenedor">
                <form class="form">
                    <input class="input" type="text" name="nombre" id="" placeholder="Nombre" required>
                    <input class="input" type="email" name="email" id="" placeholder="Email" required>
                    <input class="input asunto" type="text" name="asunto" id="" placeholder="Asunto" required>
                    <textarea class="input" name="mensaje" id="" cols="30" rows="10" placeholder="Mensaje" required></textarea>
                    <input class="input" type="submit" value="Enviar">
                </form>
                <h2 class="desarrollador">- ©3JPI -</h2>
            </div>
        </footer>
        <script src="script.js"></script>
        <script src="https://kit.fontawesome.com/bb8a84c377.js" crossorigin="anonymous"></script>
    </body>
</html>