<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Interfaz - veterinario</title>
        <link rel="stylesheet" href="styleinterfaz.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- nav -->
        <nav id="btns-crud" data-visible="false" class="btns-crud">
            <div class="title desplegar">
                <h1><i class="fa-solid fa-location-dot desplegar" aria-controls="btns-crud" aria-expanded="false"></i><span> GeoAminal</span></h1>
            </div>
            <hr class="hr-v">
            <div class="content-btns">
                <!-- Funciones CRUD -->
                <a href="{{agregar}}" target="iframe_crud">
                    <button class="btns btn-1"><i class="fa-solid fa-user-plus"></i><span> Agregar</span></button>
                </a>
                <a href="{{mostrar}}" target="iframe_crud">
                    <button class="btns btn-2"><i class="fa-regular fa-clipboard"></i><span> Mostrar</span></button>
                </a>
                <a href="{{editar}}" target="iframe_crud">
                    <button class="btns btn-3"><i class="fa-solid fa-pen-to-square"></i><span> Editar</span></button>
                </a>
                <a href="{{eliminar}}" target="iframe_crud">
                    <button class="btns btn-4"><i class="fa-solid fa-user-minus"></i><span> Eliminar</span></button>
                </a>
            </div>
            <hr class="hr-v">
            <div class="content-btns">
                <!-- Funciones Sesion -->
                <div class="dropdown">
                    <button class="btn-drop dropdown-btn"><i class="fa-solid fa-user"></i><span> Usuario</span></button>
                    <div class="dropdown-content">
                        <!-- <a href="opciones/opciones.html" target="iframe_crud"><i class="fa-solid fa-gear"></i><span> Opciones</span></a> -->
                        <a href="/logOut"><i class="fa-solid fa-arrow-right-from-bracket"></i><span> Salir</span></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- iframe -->
        <iframe name="iframe_crud" frameborder="0"></iframe>
        <!-- iconos -->
        <script src="scriptinterfaz.js"></script>
        <script src="https://kit.fontawesome.com/bb8a84c377.js" crossorigin="anonymous"></script>
    </body>
</html>