<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar patología</title>
        <link rel="stylesheet" href="style-agregar-patologia.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form action="/nuevaVisita" method="POST">
                <label for="i-r-vac">Cedula Del Usuario</label>
                <input id="i-r-vac" type="text" name="Cedula" placeholder="000-0000000-0" pattern="[0-9]{3}-[0-9]{7}-[0-9]{1}">
                <label for="i-re-vac">Record de Vacunas</label>
                <input id="i-re-vac" type="text" name="recordDeVacunas">
                <label for="ienf">Enfermedades</label>
                <input id="ienf" type="text" name="enfermedades">
                <label for="ialer">Alergias</label>
                <input id="ialer" type="text" name="alergia">
                <label for="iciru">Cirugias</label>
                <input id="iciru" type="text" name="cirugias">
                <input type="submit" value="Agregar patología" class="btn">
            </form>
        </div>
    </body>
</html>