<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil Usuario</title>
        
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./style-perfil-usuario.css">
    </head>
    <body>
        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
                <div class="perfil-usuario-portada">
                    <div class="perfil-usuario-avatar">
                        <img src="https://previews.123rf.com/images/anwarsikumbang/anwarsikumbang1502/anwarsikumbang150200446/36649713-hombre-avatar-de-dibujos-animados-imagen-usuario-personaje-ilustraci%C3%B3n-vectorial.jpg" alt="img-avatar">
                        <!--
                            <button type="button" class="boton-avatar">
                            <i class="far fa-image"></i>
                            </button>
                        -->
                    </div>
                </div>
            </div>
            <h1><a>Andres Guillermo Pichardo</a></h1>
            <div class="perfil-usuario-body">
                <div class="perfil-usuario-footer">
                    <ul class="lista-datos">
                        <li><i class="fa-solid fa-address-card"></i> Nombre: {{Nombre}}</li>
                        <li><i class="icono fas fa-map-signs"></i> Direccion: {{Direccion}}</li>
                        <li><i class="icono fas fa-phone-alt"></i> Telefono: {{telefono}}</li>
                        <li><i class="icono fas fa-calendar-alt"></i> Edad: {{Edad}}</li>
                        <li><i class="icono fas fa-user-check"></i> Correo Electronico: {{CorreoElectronico}}</li>
                        <li><i class="icono fas fa-user-check"></i> Cedula: {{Cedula}} </li>
                    </ul>
                </div>
            </div>
        </section>
        <script src="https://kit.fontawesome.com/bb8a84c377.js" crossorigin="anonymous"></script>
    </body>
</html>