<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar</title>
        <link rel="stylesheet" href="styleagregar.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="titulo">Agregar Usuario</h1>
        <div class="top-bar">
            <form class="content" action="/api/RegisterUsuario" method="post">
                <!-- Usuario -->
                <div class="content-user">
                    <h2>Usuario</h2>
                    <label for="iid">Id</label>
                    <input id="iid" type="text" name="id">
                    <label for="iname">Nombre del Usuario</label>
                    <input id="iname" type="text" name="nombre-usuario">
                    <label for="iedad">Edad</label>
                    <input id="iedad" type="number" name="edad">
                    <label for="idirec">Dirección</label>
                    <input id="idirec" type="text" name="direccion">
                    <label for="itel">Teléfono</label>
                    <input id="itel" type="tel" name="telefono" placeholder="000-000-0000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    <label for="iced">Cédula</label>
                    <input id="iced" type="text" name="cedula" placeholder="000-0000000-0" pattern="[0-9]{3}-[0-9]{7}-[0-9]{1}">
                    <label for="icor-el">Correo electrónico</label>
                    <input id="icor-el" type="email" name="correo-electronico">
                    <label for="ipass">Contraseña</label>
                    <input id="ipass" type="text" name="contraseña">
                    <br>
                </div>
                <!-- Mascota -->
                <div class="content-animal">
                    <h2>Mascota</h2>
                    <label for="iname">Nombre de la Mascota</label>
                    <input id="iname" type="text" name="nombre-animal">
                    <label for="iraza">Raza</label>
                    <input id="iraza" type="text" name="raza">
                    <label for="itype">Tipo</label>
                    <input id="itype" type="text" name="tipo">
                    <label for="ipeso">Peso</label>
                    <input id="ipeso" type="number" name="peso">
                    <label for="i-re-vac">Record de Vacunas</label>
                    <input id="i-re-vac" type="text" name="record-de-vacunas">
                    <label for="ienf">Enfermedades</label>
                    <input id="ienf" type="text" name="enfermedades">
                    <label for="ialer">Alergias</label>
                    <input id="ialer" type="text" name="alergia">
                    <br>
                </div>
            </form>
            <div class="content-btn">
                <input type="submit" value="Crear Usuario" class="btn">
            </div>
        </div>
    </body>
</html>