<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar</title>
        <link rel="stylesheet" href="styleagregar.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="titulo">Agregar Usuario</h1>
        <div class="top-bar">
            <form class="content" action="/api/agregarUsuarioMascota" method="post">
                <!-- Usuario -->
                <div class="content-user">
                    <h2>Usuario</h2>
                    <label for="iname">Nombre del Usuario</label>
                    <input id="iname" type="text" name="username" required>
                    <label for="iedad">Edad</label>
                    <input id="iedad" type="number" name="edad" required>
                    <label for="idirec">Dirección</label>
                    <input id="idirec" type="text" name="direccion" required>
                    <label for="itel">Teléfono</label>
                    <input id="itel" required type="tel" name="telefono" placeholder="000-000-0000" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                    <label for="iced">Cédula</label>
                    <input id="iced" required type="text" name="cedula" placeholder="000-0000000-0" pattern="[0-9]{3}-[0-9]{7}-[0-9]{1}">
                    <label for="icor-el">Correo electrónico</label>
                    <input id="icor-el" required type="email" name="email">
                    
                    <br>
                    
                </div>
                <!-- Mascota -->
                <div class="content-animal">
                    <h2>Mascota</h2>
                    <label for="iname">Nombre de la Mascota</label>
                    <input id="iname" required type="text" name="nombreAnimal">
                    <label for="iraza">Raza</label>
                    <input id="iraza" type="text" required name="raza">
                    <label for="itype">Tipo</label>
                    <input id="itype" type="text" required name="tipo">
                    <label for="ipeso">tamaño</label>
                    <input id="itype" type="text" required name="tamano">
                    <label for="ipeso">color</label>
                    <input id="itype" type="text" required name="color">
                    <label for="ipeso">peso</label>
                    <input id="ipeso" type="text" name="peso" required>
                    
                    <br>
                    <div class="content-btn">
                        <input type="submit" value="Crear Usuario" class="btn">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>