* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* nav */

nav {
    background-color: #fff;
    box-shadow: 0px 1px 2px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
}

.title {
    margin: 1em;
}

.hr-v {
    margin: 0 20px;
}

.content-btns {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-btns a {
    text-decoration: none;
    color: #000;
}

.btns {
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 15px 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btns:hover {
    background-color: hsl(0, 0%, 0%, 0.3);
}

/* button dropdown */

.btn-drop {
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 20px;
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* iframe */

iframe {
    margin-left: 200px;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* media */

@media (max-width: 375px) {
    /* nav */
    nav h1 {
        display: flex;
        justify-content: center;
    }

    nav span {
        display: none;
    }

    nav a {
        display: flex;
        justify-content: center;
    }

    nav .dropdown {
        display: flex;
        justify-content: center;
    }

    .dropdown:hover .dropdown-content {
        margin-top: 55px;
        margin-right: 45px;
    }

    .dropdown:hover .dropdown-content a {
        align-items: center;
    }

    nav {
        width: 80px;
    }

    /* desplegar nav */
    .btns-crud {
        transition: all 100ms ease-out;
        width: 80px;
    }

    .btns-crud[data-visible="true"] {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        top: 0;
        align-items: center;
        right: 0;
        flex-direction: column;
        transition: all 100ms ease-in;
    }

    .btns-crud[data-visible="true"] .content-btns .dropdown:hover .dropdown-content {
        margin-top: 55px;
        margin-left: 45px;
    }

    .btns-crud[data-visible="true"] .hr-v {
        padding: 0 50px;
        border: 1px solid #000;
    }

    .btns-crud[data-visible="true"] span {
        display: contents;
    }

    /* iframe */
    iframe {
        margin-left: 80px;
    }
}

@media (max-width: 420px) {
    /* nav */
    nav h1 {
        display: flex;
        justify-content: center;
    }

    nav span {
        display: none;
    }

    nav a {
        display: flex;
        justify-content: center;
    }

    nav .dropdown {
        display: flex;
        justify-content: center;
    }

    .dropdown:hover .dropdown-content {
        margin-top: 55px;
        margin-right: 45px;
    }

    .dropdown:hover .dropdown-content a {
        align-items: center;
    }

    nav {
        width: 80px;
    }

    /* desplegar nav */
    .btns-crud {
        transition: all 100ms ease-out;
        width: 80px;
    }

    .btns-crud[data-visible="true"] {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        top: 0;
        align-items: center;
        right: 0;
        flex-direction: column;
        transition: all 100ms ease-in;
    }

    .btns-crud[data-visible="true"] .content-btns .dropdown:hover .dropdown-content {
        margin-top: 55px;
        margin-left: 45px;
    }

    .btns-crud[data-visible="true"] .hr-v {
        padding: 0 50px;
        border: 1px solid #000;
    }

    .btns-crud[data-visible="true"] span {
        display: contents;
    }

    /* iframe */
    iframe {
        margin-left: 80px;
    }
}

@media (max-width: 450px) {
    /* nav */
    nav h1 {
        display: flex;
        justify-content: center;
    }

    nav span {
        display: none;
    }

    nav a {
        display: flex;
        justify-content: center;
    }

    nav .dropdown {
        display: flex;
        justify-content: center;
    }

    nav {
        width: 80px;
    }

    /* iframe */
    iframe {
        margin-left: 80px;
    }
}

@media (max-width: 500px) {
    /* nav */
    nav h1 {
        display: flex;
        justify-content: center;
    }

    nav span {
        display: none;
    }

    nav a {
        display: flex;
        justify-content: center;
    }

    nav .dropdown {
        display: flex;
        justify-content: center;
    }

    /*.dropdown {

    }*/

    nav {
        width: 80px;
    }

    /* iframe */
    iframe {
        margin-left: 80px;
    }
}

