<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mensaje</title>
        <link rel="stylesheet" href="./style-mensaje.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="cuadro">
                <h1>{{mensaje}}</h1>
                <a href="{{action}}">
                    <button class="btns"><span>Volver al inicio</span></button>
                </a>
            </div>
        </div>
    </body>
</html>