* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.cuadro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
    color: #000;
}

.btns {
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 15px 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btns:hover {
    background-color: hsl(0, 0%, 0%, 0.3);
}