* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.content {
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: start;
}

.top-bar {
    margin: 1rem;
}

form input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    width: 325px;
    display: block;
}

form label {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-user {
    margin-right: 100px;
}

.content-btn {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
}

.btn {
    font-family: 'Quicksand', sans-serif;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    width: 325px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: hsl(0, 0%, 0%, 0.3);
}

/* Search */

.content-search {
    margin-left: 10px;
    margin-right: 20px;
}

.content-search label {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-search input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border: 0;
    height: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
    width: 325px;
    display: block;
}

.content-search .btn {
    margin-top: 10px;
}

/* media */

@media (max-width: 360px) {
    .titulo {
        margin: 1.2rem;
        font-size: 30px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .top-bar .content-search .sg8 {
        width: 240px;
    }

    .top-bar .content-search .btn {
        width: 240px;
    }

    .content .content-user input {
        width: 240px;
    }

    .content .content-animal input {
        width: 240px;
    }

    .top-bar .content-btn .btn {
        width: 240px;
    }
}

@media (max-width: 375px) {
    .titulo {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
    .content {
        display: flex;
        flex-direction: column;
    }

    .content-search input {
        width: 250px;
    }

    .content-user input {
        width: 250px;
    }

    .content-animal input {
        width: 250px;
    }

    .content-btn .btn {
        width: 250px;
    }
}

@media (max-width: 395px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .top-bar .content-search input {
        width: 260px;
    }

    .content-user input {
        width: 260px;
    }

    .content-animal input {
        width: 260px;
    }

    .content-btn .btn {
        width: 260px;
    }
}

@media (max-width: 415px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .content-search input {
        width: 290px;
    }

    form input {
        width: 290px;
    }

    .btn {
        width: 290px;
    }
}

@media (max-width: 560px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .content-search input {
        width: 290px;
    }

    form input {
        width: 290px;
    }

    .btn {
        width: 290px;
    }
}

@media (min-width: 561px) and (max-width: 709px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    form input {
        width: 290px;
    }

    .btn {
        width: 290px;
    }
}

@media (min-width: 710px) and (max-width: 990px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}